<!-- content of the tile of a team -->
<!-- <h3>Enrolled team members</h3>

  <ul>
    <% @team.first_name().each() do |post| %>
      <li><a href="/mailings/<%= post.id() %>"><%= post.make() %> <%= post.model() %> <%= post.year() %></a></li>
    <% end %>
  </ul>

  <a href="/teams/<%= @team.id%>/mailings/new">Add a new mailing</a>
  <a href="/">Return to Main Page</a> -->
